<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtHerG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EtHerG.Properties.Settings>
            <setting name="ScatterPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alarm1ModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alarm2ModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineDiagPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DiagMaxPointSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alarm1Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alarm2Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrequencyModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainXModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainYModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Phase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterLP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterHP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhaseModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterLPModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterHPModbusAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModbusServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ModbusServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EtherAutoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModbusAutoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineDiagSizeX" serializeAs="String">
                <value>1896</value>
            </setting>
            <setting name="LineDiagSizeY" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="LineDiagPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineDiagPosY" serializeAs="String">
                <value>698</value>
            </setting>
            <setting name="ScatterDiagPosX" serializeAs="String">
                <value>343</value>
            </setting>
            <setting name="ScatterDiagPosY" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ScatterDiagSize" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableUserInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfluxDBEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModbusLastSentAddressEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrequencyModbusLastSendAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainXModbusLastSendAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GainYModbusLastSendAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhaseModbusLastSendAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterLPModbusLastSendAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterHPModbusLastSendAddress" serializeAs="String">
                <value>0</value>
            </setting>
        </EtHerG.Properties.Settings>
    </userSettings>
</configuration>